@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}
html{
  min-width: 900px;
}
body{
  margin: 0;
  margin-bottom: $footer-height;
  font-family: 'Lato', sans-serif;
}