.start-screen{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .8);
  z-index: 1;

  .start-screen-content{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 15px;
    height: 200px;
    h1{
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      border-bottom: 2px solid #e6e6e6;
    }
    button{
      padding: 8px 40px;
      font-size: 1.5rem;
      background-color: $primary-color;
      border-radius: 10px;
      border: none;
      color: $light-text-color;
      cursor: pointer;
      transition: background-color 0.3s ease-out;
      &:hover{
        background-color: darken($primary-color, 10%);
      }
    }
  }
  &.fade-out{
    transition: opacity 0.3s ease-out;
    opacity: 0;
  }
}